.menu__link{
    text-decoration: none;
    color: #808080;
    margin-right: 1.25rem;

}

.menu__link.ativo{
    color: #333333;
    font-weight: 400;
}

.menu__link:hover{
    text-decoration: underline;
}