.quem-somos__titulo{
    color: #8D0606;
    font-family: Pacifico, cursive;
    padding-bottom: 16px;
}

@media screen and (min-width: 0) {
    .quem-somos__titulo{
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .quem-somos__titulo{
        font-size: 3.2rem;
    }
}